# 公開しないプラグイン
plugins/*
!plugins/Base
!plugins/Battle
!plugins/Bgm
!plugins/Debug
!plugins/Equip
!plugins/Event
!plugins/Item
!plugins/Key
!plugins/Level
!plugins/Map
!plugins/Max
!plugins/Menu
!plugins/Name
!plugins/Option
!plugins/Other
!plugins/Save
!plugins/Shop
!plugins/Skill
!plugins/Switch
!plugins/System
plugins/Base/テンプレート.js
plugins/Debug/Test.js
plugins/Name/NameSwitch.js
plugins/Other/ExportHue.js
plugins/Other/Shield.js
plugins/System/LearningDevice.js
plugins/System/MoveSpeed.js
