# 公開しないプラグイン
plugins/*
!plugins/Base
!plugins/Battle
!plugins/Bgm
!plugins/Debug
!plugins/Equip
!plugins/Event
!plugins/Item
!plugins/Level
!plugins/Key
!plugins/Map
!plugins/Max
!plugins/Menu
!plugins/Name
!plugins/Neta
!plugins/Option
!plugins/Save
!plugins/Shop
!plugins/Skill
!plugins/State
!plugins/Switch
!plugins/System
!plugins/Title
plugins/Base/テンプレート.js
plugins/Battle/Card.js
plugins/Debug/Test.js
plugins/Event/ChangeWand.js
plugins/Event/Info.js
plugins/Equip/PartyEquip.js
plugins/Level/HideReserveLevelUp.js
plugins/Level/LevelCap.js
plugins/Level/LevelUpSound.js
plugins/Map/Dungeon.js
plugins/Max/Max.js
plugins/Max/MaxStatus.js
plugins/Menu/CustomMenuCommand.js
plugins/Name/NameItem.js
plugins/Name/NameSkill.js
plugins/Name/NameSwitch.js
plugins/Neta/PluginScouter.js
plugins/Save/StartDelete.js
plugins/State/Shield.js
plugins/System/DayNight.js
plugins/System/LearningDevice.js
plugins/System/Loading.js
plugins/System/MoveSpeed.js
